{{!< layout/default}}


{{#extend "css"}}
<style>
    .nav .nav-item:hover {
        border: 1px solid #3498db;
        border-radius: 5px;
    }

    #advancedSearchCollapse input[type=checkbox] {
        transform: scale(2.0);
    }

    .advancedSearchSelectedOption {
        border: 3px solid #3498db;
    }

    #advancedSearchTableResults tr:hover {
        background:#3498db !important;
        cursor: pointer;
    }
</style> 

{{/extend}}
<div class="row">
    <div class="card bg-light mb-3 col-md-12">
        <button id="advancedSearch" type="button" data-toggle="collapse" data-target="#advancedSearchCollapse" aria-expanded="false" aria-controls="advancedSearchCollapse" style="width:200px;" class="btn btn-primary float-right"><i class="fa fa-search" aria-hidden="true"></i> Búsqueda avanzada</button>
            
        <div class="card-body">
            <div class="collapse" id="advancedSearchCollapse">  
                <div class="card">
                
                    <div class="card-header">Filtros de búsqueda</div>            
                    <div class="card-body">
                        <div class="row" style="margin:10px;">
                            <div class="form-check form-check-inline col-md-2 col-xs-12" style="margin:2px;">
                                <input class="form-check-input" type="checkbox" id="advancedSearchCheckboxNumber" checked>
                                <label class="form-check-label"> &nbsp; Número</label>
                            </div>
                            <div class="form-check form-check-inline col-md-2 col-xs-12" style="margin:2px;">
                                <input class="form-check-input" type="checkbox" id="advancedSearchCheckboxAmount">
                                <label class="form-check-label"> &nbsp; Monto</label>
                            </div>
                            <div class="form-check form-check-inline col-md-2 col-xs-12" style="margin:2px;">
                                <input class="form-check-input" type="checkbox" id="advancedSearchCheckboxCreationDate">
                                <label class="form-check-label"> &nbsp; Fecha de creación</label>
                            </div>
                            <div class="form-check form-check-inline col-md-2 col-xs-12" style="margin:2px;">
                                <input class="form-check-input" type="checkbox" id="advancedSearchCheckboxType">
                                <label class="form-check-label"> &nbsp; Tipo</label>
                            </div>
                            <div class="form-check form-check-inline col-md-2 col-xs-12" style="margin:2px;">
                                <input class="form-check-input" type="checkbox" id="advancedSearchCheckboxStatus">
                                <label class="form-check-label"> &nbsp; Estado</label>
                            </div>
                            <div class="form-check form-check-inline col-md-2 col-xs-12" style="margin:2px;">
                                <input class="form-check-input" type="checkbox" id="advancedSearchCheckboxDescription">
                                <label class="form-check-label"> &nbsp; Descripción</label>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label"><i class="fa fa-asterisk" aria-hidden="true"></i> Número de factura</label>
                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="advancedSearchInvoiceNumber" placeholder="N° de factura (exacto)" class="form-control advancedSearchSelectedOption" type="number" min="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label" ><i class="fa fa-usd" aria-hidden="true"></i> Monto</label>
                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="advancedSearchAmount" placeholder="Monto de factura (exacto)" class="form-control" type="number" min="1" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label" ><i class="fa fa-calendar" aria-hidden="true"></i> Fecha de creación</label>
                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="advancedSearchCreationDate" placeholder="Fecha de creación (Día/Mes/Año)" class="form-control" type="text" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12 control-label"><i class="fa fa-list" aria-hidden="true"></i> Tipo de factura</label>
                                    <div class="col-md-12 selectContainer">
                                        <div class="input-group">
                                            <select id="advancedSearchType" class="form-control selectpicker" disabled>
                                                <option selected value="product">Producto</option>
                                                <option value="service">Servicio</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12 control-label"><i class="fa fa-list" aria-hidden="true"></i> Razón social</label>
                                    <div class="col-md-12 selectContainer">
                                        <div class="input-group">
                                            <select id="advancedSearchBusiness" class="form-control selectpicker" disabled >
                                                <option selected value="Michcom Ltda">Michcom Ltda</option>
                                                <option value="Tronit Ltda">Tronit Ltda</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label"><i class="fa fa-list" aria-hidden="true"></i> Estado</label>
                                    <div class="col-md-12 selectContainer">
                                        <div class="input-group">
                                            <select id="advancedSearchStatus" class="form-control selectpicker" disabled>
                                                <option selected value="PAGADO">PAGADO</option>
                                                <option value="PENDIENTE">PENDIENTE</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label"><i class="fa fa-pencil" aria-hidden="true"></i> Descripción</label>
                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <textarea class="form-control" id="advancedSearchDescription" placeholder="Descripción de la factura" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-4">
                                <!-- Button -->
                                <div class="form-group">
                                <label class="col-md-12 control-label"></label>
                                <div class="col-md-12">
                                    <button id="advancedSearchSend" class="btn btn-primary btn-lg btn-block" >Buscar <i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                                </div>
                            </div>
                        </div>                  
                        <div id="advancedSearchResults"></div>
                    </div>
                    
                </div>
            </div>
            <br>
            <div class="table-responsive">
                <table id="clientsTable" class="display table table-condensed" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>EMPRESA</th>
                            <th>RUT</th>
                            <th>FACTURAS PENDIENTES</th>
                            <th>ESTADO</th>
                            <th>MONTO</th>
                        </tr>
                    </thead>
                </table>

                <div id="loadingClientsTable"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card col-md-4">
        <h3 class="card-header text-center">MONTOS ADEUDADOS</h3>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <h3>MICHCOM: </h3>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <div id="michcomTotalOwed"></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <h3>TRONIT: </h3>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <div id="tronitTotalOwed"></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <h2>TOTAL: </h2>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <div id="totalOwed"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card col-md-4">
        <h3 class="card-header text-center">CLIENTES</h3>
        <div id="totalChart" class="card-body text-center">
            <br><br><br><br>
            <i style="color:#3498db;" class="fa fa-spinner fa-pulse fa-5x fa-fw"></i><span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="col-md-4">
        <br>
        <br>
        <br>
        <center><img style="width:80%;" src="/public/img/microsoft.png" alt=""></center>
    </div>
</div>

<div id="clientInfo" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="modal_title">Datos del cliente</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
            </div>
            <div class="modal-body" id="modal_body">
                <!-- Nav tabs -->
                <ul class="nav nav-pills mb-3 nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#info" aria-controls="info" role="pill" data-toggle="pill">Información del cliente</a>
                    </li>
                    <li class="nav-item">
                        <a id="newInvoiceTabButton" class="nav-link" href="#new" aria-controls="new" role="pill" data-toggle="pill">Nueva factura</a>
                    </li>
                    <li class="nav-item">
                        <a id="annulledInvoiceTabButton" class="nav-link" href="#annulled" aria-controls="annulled" role="pill" data-toggle="pill">Facturas anuladas</a>
                    </li>
                    <li class="nav-item">
                        <a id="generateReportTabButton" class="nav-link" href="#generate_report" aria-controls="generate_report" role="pill" data-toggle="pill">Generar informe</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="info">
                        
                        <div id="invoiceStep"></div>

                        <div id="infoContent">  					
                            <div id="invoices" class="table-responsive"></div>	
                            <div id="clientData"></div>
                        </div>

                    </div>

                    <div role="tabpanel" class="tab-pane" id="new"></div>

                    <div role="tabpanel" class="tab-pane" id="annulled"></div>

                    <div role="tabpanel" class="tab-pane row" id="generate_report">
                        
                        
                        <button class="btn btn-danger" id="initpdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Exportar a pdf</button>
                        <button class="btn btn-primary" type="button" id="reportCollapseButton">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i> Enviar por correo
                        </button>
                        <!--<button class="btn btn-primary" id="sendReport"><i class="fa fa-envelope-o" aria-hidden="true"></i> Enviar por correo</button>-->                     
                        
                        <!--<div class="collapse" id="collapseEmail"></div>-->
                        <div class="col-md-4">
                            <ul class="collapse list-group" id="collapseEmail"></ul>
                        </div>

                        <div class="box-shadows col-md-12" id="reportDiv">
                            <div style="font-family: Arial, sans-serif;">
            
                                Estimados: <b><span id="report_business_name"></span></b>
                                <p>
                                    Junto con saludar y desear un buen día, queremos informarles que a través de nuestro sistema se encuentran
                                    pendientes las siguientes facturas, el monto asciende a un total de <b><span id="totalReportOwed"></span></b>
                                </p>

                                <!--
                                <h4 id="report_business_name"></h4>
                                <h4 id="report_business_rut"></h4>
                                <h4 id="report_business_address"></h4>
                                -->
                                <center>  
                                    <table class="table" border="1" cellpadding="0" cellspacing="0" style="width:99%;">
                                        <thead>
                                            <tr>
                                                <th scope="col">N° FACTURA</th>
                                                <th scope="col">DESCRIPCIÓN</th>
                                                <th scope="col">RAZÓN SOCIAL</th>
                                                <th scope="col">MONTO</th>
                                            </tr>
                                        </thead>
                                        <tbody id="report_table_invoices">
                                        </tbody>
                                    </table> 
                                </center>
                                
                                <br>

                                <b><p>
                                    Si una de las facturas anteriormente señaladas ya se encuentra cancelada, favor enviar comprobante
                                    de pago.
                                </p></b>

                                <br>

                                <u>Datos Cuenta Corriente TRONIT E.I.R.L.</u>
                                <p>Razón social&nbsp;: Asesorias y Servicios Tecnologicos Miguel Esteban Herrera Ureta E.I.R.L.</p>
                                <p>Banco&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Itaú</p>
                                <p>Rut&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 76.623.477-1</p>
                                <p>N° Cuenta&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 02 07 13 28 23</p>
                                <br>
                                <u>Datos Cuenta Corriente MICHCOM LTDA.</u>
                                <p>Razón social&nbsp;: Comercial Servicios y Asesorias M y G Limitada.</p>
                                <p>Banco&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Itaú</p>
                                <p>Rut&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 76.235.643-0</p>
                                <p>N° Cuenta&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 02 06 71 15 32</p>
                                
                                <br>

                                <p style="background:#bdc3c7;">
                                    Favor enviar comprobante de depósito o transferencia al correo electrónico <b>contabilidad@michcom.cl</b>
                                </p>

                                <p>Saludos cordiales.</p>
                                <!--<br><br>
                                <center><p style="float:right">Curicó, <span id="report_date"></span></p></center>
                                -->
                                <!--<center>	<h3>MICHCOM LTDA</h3> </center>-->
                                <!--<img style="width:300px;" src="http://michcom.cl/images/microsoft.png">-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>-->
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

 

{{#extend "js"}}
<script src="/public/home/js/firmContabilidad.js"></script>
<script src="/public/home/js/main.js"></script>
<script>
    let advancedSearchCheckboxNumber = 1;
    let advancedSearchCheckboxAmount = 0;
    let advancedSearchCheckboxCreationDate = 0;
    let advancedSearchCheckboxType = 0;
    let advancedSearchCheckboxStatus = 0;
    let advancedSearchCheckboxDecription = 0;

    let asInvoiceNumber = document.getElementById('advancedSearchInvoiceNumber');
    let invalidChars = ['-', '+', 'e', '.', ',', '`', '´'];
    asInvoiceNumber.addEventListener('keydown', function(e) {
        if (invalidChars.includes(e.key)) {
            e.preventDefault();
        }
    });
    asInvoiceNumber.addEventListener('input', function() {
        this.value = this.value.replace(/[e\+\-]/gi, '');
    });

    let asInvoiceAmount = document.getElementById('advancedSearchAmount');
    
    asInvoiceAmount.addEventListener('keydown', function(e) {
        if (invalidChars.includes(e.key)) {
            e.preventDefault();
        }
    });
    asInvoiceAmount.addEventListener('input', function() {
        this.value = this.value.replace(/[e\+\-]/gi, '');
    });
    

    $('#advancedSearchCheckboxNumber').on('change', function(e) {
        if(e.target.checked) {
            advancedSearchCheckboxNumber = 1;
            $('#advancedSearchInvoiceNumber').addClass('advancedSearchSelectedOption');
            $('#advancedSearchInvoiceNumber').prop('disabled', false);
            $('#advancedSearchInvoiceNumber').focus();
        } else {
            advancedSearchCheckboxNumber = 0;
            $('#advancedSearchInvoiceNumber').removeClass('advancedSearchSelectedOption');
            $('#advancedSearchInvoiceNumber').prop('disabled', true);
        }
    });

    $('#advancedSearchCheckboxAmount').on('change', function(e) {
        if(e.target.checked) {
            advancedSearchCheckboxAmount = 1;
            $('#advancedSearchAmount').addClass('advancedSearchSelectedOption');
            $('#advancedSearchAmount').prop('disabled', false);
            $('#advancedSearchAmount').focus();
        } else {
            advancedSearchCheckboxAmount = 0;
            $('#advancedSearchAmount').removeClass('advancedSearchSelectedOption');
            $('#advancedSearchAmount').prop('disabled', true);
        }
    });

    $('#advancedSearchCheckboxCreationDate').on('change', function(e) {
        if(e.target.checked) {
            advancedSearchCheckboxCreationDate = 1;
            $('#advancedSearchCreationDate').addClass('advancedSearchSelectedOption');
            $('#advancedSearchCreationDate').prop('disabled', false);
            $('#advancedSearchCreationDate').focus();
        } else {
            advancedSearchCheckboxCreationDate = 0;
            $('#advancedSearchCreationDate').removeClass('advancedSearchSelectedOption');
            $('#advancedSearchCreationDate').prop('disabled', true);
        }
    });

    $('#advancedSearchCheckboxType').on('change', function(e) {
        if(e.target.checked) {
            advancedSearchCheckboxType = 1;
            $('#advancedSearchType').addClass('advancedSearchSelectedOption');
            $('#advancedSearchBusiness').addClass('advancedSearchSelectedOption');
            $('#advancedSearchType').prop('disabled', false);
            $('#advancedSearchType').focus();
        } else {
            advancedSearchCheckboxType = 0;
            $('#advancedSearchType').removeClass('advancedSearchSelectedOption');
            $('#advancedSearchBusiness').removeClass('advancedSearchSelectedOption');
            $('#advancedSearchType').prop('disabled', true);
        }
    });

    $('#advancedSearchCheckboxStatus').on('change', function(e) {
        if(e.target.checked) {
            advancedSearchCheckboxStatus = 1;
            $('#advancedSearchStatus').addClass('advancedSearchSelectedOption');
            $('#advancedSearchStatus').prop('disabled', false);
            $('#advancedSearchStatus').focus();
        } else {
            advancedSearchCheckboxStatus = 0;
            $('#advancedSearchStatus').removeClass('advancedSearchSelectedOption');
            $('#advancedSearchStatus').prop('disabled', true);
        }
    });

    $('#advancedSearchCheckboxDescription').on('change', function(e) {
        if(e.target.checked) {
            advancedSearchCheckboxDescription = 1;
            $('#advancedSearchDescription').addClass('advancedSearchSelectedOption');
            $('#advancedSearchDescription').prop('disabled', false);
            $('#advancedSearchDescription').focus()
        } else {
            advancedSearchCheckboxDescription = 0;
            $('#advancedSearchDescription').removeClass('advancedSearchSelectedOption');
            $('#advancedSearchDescription').prop('disabled', true);
        }
    });


    $('#advancedSearchType').on('change',function() {
        if ($('#advancedSearchType').val() === 'product') {
            $("#advancedSearchBusiness").val('Michcom Ltda');
        } else if ($('#advancedSearchType').val() === 'service') {
            $("#advancedSearchBusiness").val('Tronit Ltda');
        }
    });

    $('#advancedSearchCreationDate').daterangepicker({
        "locale": {
            "format": "DD/MM/YYYY",
            "daysOfWeek": [
            "Dom",
            "Lun",
            "Mar",
            "Mie",
            "Jue",
            "Vie",
            "Sab"
            ],
            "monthNames": [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
            ],
            "firstDay": 1
        },
        drops: "up",
        singleDatePicker: true,
        showDropdowns: true
    });

    $('#advancedSearchSend').on('click', function() {
        let advancedSearchFullObj = {}

        if(advancedSearchCheckboxNumber == 1) advancedSearchFullObj.invoice = $('#advancedSearchInvoiceNumber').val();
        if(advancedSearchCheckboxAmount == 1) advancedSearchFullObj.amount = $('#advancedSearchAmount').val();
        if(advancedSearchCheckboxCreationDate == 1) advancedSearchFullObj.creationDate = $('#advancedSearchCreationDate').val();
        if(advancedSearchCheckboxType == 1) advancedSearchFullObj.type = $('#advancedSearchType').val();
        if(advancedSearchCheckboxStatus == 1) advancedSearchFullObj.status = $('#advancedSearchStatus').val();
        if(advancedSearchCheckboxDescription == 1) advancedSearchFullObj.description = $('#advancedSearchDescription').val();

        $('#advancedSearchResults').html('<center><i style="color:#3498db;" class="fa fa-spinner fa-pulse fa-5x fa-fw"></i><span class="sr-only">Loading...</span></center>')
        ajax({
            url: 'api/advancedSearchInvoice',
            type: 'POST',
            data: {searchObj: JSON.stringify(advancedSearchFullObj)}
        }).then(data=> {
            $('#advancedSearchResults').empty();

            if(!data.error) {

                $('#advancedSearchResults').html(`
                    <table id="advancedSearchTable" class="table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Número de factura</th>
                                <th>Rut del cliente</th>
                                <th>Estado de la factura</th>
                                <th>Tipo de factura</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody id="advancedSearchTableResults"></tbody>
                    </table>
                `)
                data.forEach(element => {
                    $('#advancedSearchTableResults').append(`
                        <tr onclick="selectClientInvoice('${element.client}', ${element.invoice}, '${element.invoice_type}')">
                            <td>${element.invoice}</td>
                            <td>${$.formatRut(element.client)}</td>
                            <td>${element.status}</td>
                            <td>${element.invoice_type} (${element.business})</td>
                            <td>${element.description}</td>
                        </tr>
                    `)
                });
            } else {
                $('#advancedSearchResults').html(`
                    <div class="alert alert-dismissible alert-warning">
                        <h4 class="alert-heading">${data.error}</h4>
                    </div>
                `)
            }
            console.log(data);
        })
    })

    $('#advancedSearch').on('click', () => {
        setTimeout(() => {
            $('#advancedSearchInvoiceNumber').focus();
        }, 100);
    })

    const selectClientInvoice = (client, invoice, type) => {
        $('#'+client).dblclick();

        let searchInvoiceInterval = setInterval(() => {
            if($('#invoice_'+invoice+'_'+type).length != 0) {
                //invoiceTable.search(invoice).draw();
                $('#invoice_'+invoice+'_'+type).dblclick();
                window.clearInterval(searchInvoiceInterval);
            }
        }, 100);
        
    }

</script>
{{/extend}}