{{!< layout/default}}


{{#extend "css"}}
<style>
    .nav .nav-item:hover {
        border: 1px solid #3498db;
        border-radius: 5px;
    }

    #advancedSearchCollapse input[type=checkbox] {
        transform: scale(2.0);
    }

    .advancedSearchSelectedOption {
        border: 3px solid #3498db;
    }
</style> 

{{/extend}}
<div class="row">
    <div class="card bg-light mb-3 col-md-12">
        <button id="advancedSearch" type="button" data-toggle="collapse" data-target="#advancedSearchCollapse" aria-expanded="false" aria-controls="advancedSearchCollapse" style="width:200px;" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Búsqueda avanzada</button>
            
        <div class="card-body">
            <div class="collapse" id="advancedSearchCollapse">  
                <div class="card">
                
                    <div class="card-header">Filtros de búsqueda</div>            
                    <div class="card-body">
                        <div class="row" style="margin:10px;">
                            <div class="form-check form-check-inline col-md-2 col-xs-12" style="margin:2px;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
                                <label class="form-check-label" for="inlineCheckbox1"> &nbsp; Número</label>
                            </div>
                            <div class="form-check form-check-inline col-md-2 col-xs-12" style="margin:2px;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox1"> &nbsp; Monto</label>
                            </div>
                            <div class="form-check form-check-inline col-md-2 col-xs-12" style="margin:2px;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox1"> &nbsp; Iva</label>
                            </div>
                            <div class="form-check form-check-inline col-md-2 col-xs-12" style="margin:2px;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                                <label class="form-check-label" for="inlineCheckbox1"> &nbsp; Tipo</label>
                            </div>
                            <div class="form-check form-check-inline col-md-2 col-xs-12" style="margin:2px;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                                <label class="form-check-label" for="inlineCheckbox1"> &nbsp; Descripción</label>
                            </div>
                            <div class="form-check form-check-inline col-md-2 col-xs-12" style="margin:2px;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                                <label class="form-check-label" for="inlineCheckbox1"> &nbsp; Estado</label>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label"><i class="fa fa-asterisk" aria-hidden="true"></i> Número de factura</label>
                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="advancedSearchInvoiceNumber" placeholder="N° de factura (exacto)" class="form-control advancedSearchSelectedOption" type="number" min="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label" ><i class="fa fa-usd" aria-hidden="true"></i> Monto</label>
                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="advancedSearchAmount" placeholder="Monto de factura (exacto)" class="form-control" type="number" min="1" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label" ><i class="fa fa-usd" aria-hidden="true"></i> Iva</label>
                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <input id="advancedSearchIva" placeholder="Iva de factura (exacto)" class="form-control" type="number" min="1" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label"><i class="fa fa-list" aria-hidden="true"></i> Tipo de factura</label>
                                    <div class="col-md-12 selectContainer">
                                        <div class="input-group">
                                            <select id="advancedSearchType" class="form-control selectpicker" disabled>
                                                <option selected value="product">Producto</option>
                                                <option value="service">Servicio</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label"><i class="fa fa-list" aria-hidden="true"></i> Razón social</label>
                                    <div class="col-md-12 selectContainer">
                                        <div class="input-group">
                                            <select id="advancedSearchBusiness" class="form-control selectpicker" disabled >
                                                <option selected value="Michcom Ltda">Michcom Ltda</option>
                                                <option value="Tronit Ltda">Tronit Ltda</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label"><i class="fa fa-list" aria-hidden="true"></i> Estado</label>
                                    <div class="col-md-12 selectContainer">
                                        <div class="input-group">
                                            <select id="advancedSearchStatus" class="form-control selectpicker" disabled>
                                                <option selected value="PAGADO">PAGADA</option>
                                                <option value="PENDIENTE">PENDIENTE</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-12 control-label"><i class="fa fa-pencil" aria-hidden="true"></i> Descripción</label>
                                    <div class="col-md-12 inputGroupContainer">
                                        <div class="input-group">
                                            <textarea class="form-control" id="advancedSearchDescription" placeholder="Descripción de la factura" disabled></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-md-4">
                                <!-- Button -->
                                <div class="form-group">
                                <label class="col-md-12 control-label"></label>
                                <div class="col-md-12">
                                    <button id="advancedSearchSend" class="btn btn-primary btn-lg btn-block" >Buscar <span><i class="fa fa-paper-plane" aria-hidden="true"></i></span></button>
                                </div>
                                </div>
                            </div>
                
                            <div style="display: none;" id="form_messages"></div>
                        </div>   
                    </div>

                </div>
            </div>
            <br>
            <div>
                <table id="clientsTable" class="display nowrap table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>EMPRESA</th>
                            <th>RUT</th>
                            <th>FACTURAS PENDIENTES</th>
                            <th>ESTADO</th>
                            <th>MONTO</th>
                        </tr>
                    </thead>
                </table>

                <div id="loadingClientsTable"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card bg-light col-md-4">
        <h3 class="card-header text-center">MONTOS ADEUDADOS</h3>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <h3>MICHCOM: </h3>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <div id="michcomTotalOwed"></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <h3>TRONIT: </h3>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <div id="tronitTotalOwed"></div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <h2>TOTAL: </h2>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <div id="totalOwed"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card bg-light col-md-4">
        <h3 class="card-header text-center">CLIENTES</h3>
        <div id="totalChart" class="card-body text-center">
            <br><br><br><br>
            <i style="color:#3498db;" class="fa fa-spinner fa-pulse fa-5x fa-fw"></i><span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="col-md-4">
        <br>
        <br>
        <br>
        <center><img style="width:80%;" src="/public/img/microsoft.png" alt=""></center>
    </div>
</div>

<div id="clientInfo" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="modal_title">Datos del cliente</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
            </div>
            <div class="modal-body" id="modal_body">
                <!-- Nav tabs -->
                <ul class="nav nav-pills mb-3 nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#info" aria-controls="info" role="pill" data-toggle="pill">Información del cliente</a>
                    </li>
                    <li class="nav-item">
                        <a id="newInvoiceTabButton" class="nav-link" href="#new" aria-controls="new" role="pill" data-toggle="pill">Nueva factura</a>
                    </li>
                    <li class="nav-item">
                        <a id="generateReportTabButton" class="nav-link" href="#generate_report" aria-controls="generate_report" role="pill" data-toggle="pill">Generar informe</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="info">
                        
                        <div id="invoiceStep"></div>

                        <div id="infoContent">  					
                            <div id="invoices" class="table-responsive"></div>	
                            <div id="clientData"></div>
                        </div>

                    </div>

                    <div role="tabpanel" class="tab-pane" id="new"></div>

                    <div role="tabpanel" class="tab-pane row" id="generate_report">
                        
                        
                        <button class="btn btn-danger" id="initpdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Exportar a pdf</button>
                        <button class="btn btn-primary" type="button" id="reportCollapseButton">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i> Enviar por correo
                        </button>
                        <!--<button class="btn btn-primary" id="sendReport"><i class="fa fa-envelope-o" aria-hidden="true"></i> Enviar por correo</button>-->                     
                        
                        <!--<div class="collapse" id="collapseEmail"></div>-->
                        <div class="col-md-4">
                            <ul class="collapse list-group" id="collapseEmail"></ul>
                        </div>

                        <div class="box-shadows col-md-12" id="reportDiv">
                            <h3 style="float:right">CURICO, <span id="report_date"></span></h3>
                            <br><br>
                            <h4 id="report_business_name"></h4>
                            <h4 id="report_business_rut"></h4>
                            <h4 id="report_business_address"></h4>
                            <br><br>
                            <p>Estimado cliente:</p>
                            <p>
                            Según lo observado en nuestra gestión de cobros, se encuentran pendientes de pago las facturas según detalle.
                            <span style="background:yellow;">Las que agradecemos cancelar o indicar comprobantes de pago al correo <b>contabilidad@michcom.cl</b> en caso de haber sido canceladas a la fecha.</span>
                            </p>

                            <table class="table table-hover table-striped" border="1" style="border-collapse: collapse">
                                <thead>
                                    <tr>
                                        <th scope="col">N° Factura</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Razón social</th>
                                        <th scope="col">Monto</th>
                                    </tr>
                                </thead>
                                <tbody id="report_table_invoices">
                                </tbody>
                            </table> 
                            
                            
                            <div style"left:30px;">
                                <h1>Michcom Ltda: <span id="michcomReportTotalOwed"></span></h1>
                            </div>
                            <br>
                            <div style="left:30px;">
                                <h1>Tronit Ltda: <span id="tronitReportTotalOwed"></span></h1>
                            </div>
                            

                            <br>

                            <p>
                            Recordamos que pueden hacer su pago a través de depósito y/o transferencia bancaria a la siguiente cuenta corriente como corresponda.	
                            </p>
                            <br>
                            <p>Nombre: <b>Asesorias y Servicios Tecnologicos Miguel Esteban Herrera Ureta E.I.R.L. (Tronit Ltda)</b>	</p>
                            <p>Banco: <b>Itaú</b></p>
                            <p>Rut: <b>76.623.477-1</b></p>
                            <p>N° Cuenta: <b>02 07 13 28 23</b></p>
                            <br>
                            <p>Nombre: <b>Comercial Servicios y Asesorias M y G Limitada. (Michcom Ltda)</b>	</p>
                            <p>Banco: <b>Itaú</b></p>
                            <p>Rut: <b>76.235.643-0</b></p>
                            <p>N° Cuenta: <b>02 06 71 15 32</b></p>
                            <br><br>

                            <div id="reportTable">
                                
                            </div>
                            <br><br>

                            <p>Atentamente.</p>
                            <p>Departamento de Gestión y Cobros.-</p>
                            <br><br>
                            <center>	<h3>MICHCOM LTDA</h3> </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>-->
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

 

{{#extend "js"}}
<script src="/public/home/js/main.js"></script>
{{/extend}}