<!DOCTYPE html>
<html lang="es">
<head>
    {{! Document Layout}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Michcom Intranet</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"> <!--seleccionado cosmo-->
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">--><!--bueno-->
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/spacelab/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">-->
    <link rel="stylesheet" href="/public/jqueryUI/jquery-ui.min.css">
    <link rel="stylesheet" href="/public/css/dataTables.searchHighlight.css">
    <link rel="stylesheet" href="/public/css/animate.min.css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/datatables.min.css"/>
    <link rel="stylesheet" href="/public/css/daterangepicker.css">
    <link rel="stylesheet" href="/public/css/sweetalert2.css">
    <link rel="stylesheet" href="/public/css/toastr.min.css">
    <link rel="stylesheet" href="/public/css/select2.min.css">
    <!-- Nprogress -->
    <link rel="stylesheet" href="public/css/nprogress.css">
    <script src="/public/js/nprogress.js"></script>

    <!-- Nprogress -->
    <style>
        @media (min-width: 768px) {
            .modal-xl {
                min-width: 98% !important;
                /*max-width:1200px;*/
            }
        }

        #container {
            margin-top:100px;
        }

        #clientsTable tbody tr:hover {
            background:#3498db !important;
            cursor: pointer;
        }

        #invoiceTable tbody tr:hover {
            background:#3498db !important;
            cursor: pointer;
        }

        .navbar-nav .nav-item .nav-link {
            font-size: 20px !important;
        }

        .navbar-nav .nav-item .nav-link:hover {
            color:#2980b9 !important;
        }

        .navbar-nav .active a {
            color:#3498db !important;
        }
        /*
        .active a {
            color:#3498db !important;
        }
        */
        .user {
            text-transform: capitalize;
            font-size: 20px !important;
        }

        .dataTable tr td {
            font-size:20px !important;
            /*font-weight:bold;*/
        }

        .logout:hover {
            color:#c0392b;
        }

    </style>
    {{#block "css"}}
    {{/block}}

</head>

<body>
<div class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/public/img/logo2.png" class="rounded" width="200" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clients"><i class="fa fa-building" aria-hidden="true"></i> Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users"><i class="fa fa-users" aria-hidden="true"></i> Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hostings"><i class="fa fa-cloud" aria-hidden="true"></i> Hostings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logs"><i class="fa fa-book" aria-hidden="true"></i> Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sat"><i class="fa fa-wrench" aria-hidden="true"></i> Ingreso de equipos</a>
                </li>

               
            </ul>
            <div class="my-2 my-lg-0 user dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i> {{ credentials.name }} {{ credentials.lastname }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a data-toggle="tooltip" data-placement="bottom" title="Configurar cuenta" class="dropdown-item" href="#"><i class="fa fa-cog" aria-hidden="true"></i> Configurar</a>
                    <div class="dropdown-divider"></div>
                    <!--<a data-toggle="tooltip" data-placement="bottom" title="Tiempo restante de la sesión" class="dropdown-item" href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> <span id="sessionTime"></span></a>-->
                    <a data-toggle="tooltip" data-placement="bottom" title="Finalizar sesión" class="dropdown-item logout" href="/logout"><i class="fa fa-times" aria-hidden="true"></i> Cerrar sesión</a>
                </div>
            </div>

        </div>
    </nav>
    <div id="container">
        {{{ content }}}
    </div>
</div>

<script>
    NProgress.configure({ parent: 'body' });
    NProgress.start();
</script>
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/jQuery.rut.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/jqueryUI/jquery-ui.min.js"></script>
<script src="/public/js/jquery.highlight.js"></script>
<script src="/public/js/highcharts.js"></script>
<script src="/public/js/exporting.js"></script>
<script src="/public/js/moment.js"></script>
<script src="/public/js/daterangepicker.js"></script>
<script src="/public/js/select2.min.js"></script>
<script src="/public/js/pdfmake.min.js"></script>
<script src="/public/js/vfs_fonts.js"></script>
<script src="/public/js/datatables.min.js"></script>
<script src="/public/js/sweetalert2.js"></script>
<script src="/public/js/toastr.min.js"></script>
<script src="/public/js/jspdf.min.js"></script>
<script src="/public/js/jspdf.plugin.autotable.js"></script>
<script src="/public/js/base64logo.js"></script>
<script src="/public/js/html2canvas.min.js"></script>
<script>

    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip()
      setInterval(() => {
        checkSession()
      }, 60000);
    });

    const checkSession = () => {
        $.ajax({
		    url: '/check'
        })
        .done(function(data) {
            if(data != true) reloadPage();
        })
        .fail(function() {
            reloadPage();
        });
    }

    const reloadPage = () => {
        swal({
            title: 'Su sesión a finalizado!',
            text: 'Redirigiendo a página de inicio de sesión...',
            type: 'warning',
            showCancelButton: false,
            showConfirmButton: false,
            animation: true
        });

        setTimeout(() => {
            //window.location.replace("/login");
            location.reload();
        }, 5000);
    }

    const getTime = () => {
      return new Promise(resolve=>{
        ajax({url: 'api/tools/getServerTime'}).then(data=>{
          resolve(data);
        })
      })
    };

    String.prototype.capitalize = () => this.charAt(0).toUpperCase() + this.slice(1);

    const number_format = (amount, decimals) => {
      amount += ''; // por si pasan un numero en vez de un string
      amount = parseFloat(amount.replace(/[^0-9\.]/g, '')); // elimino cualquier cosa que no sea numero o punto

      decimals = decimals || 0; // por si la variable no fue fue pasada

      // si no es un numero o es igual a cero retorno el mismo cero
      if (isNaN(amount) || amount === 0)
          return parseFloat(0).toFixed(decimals);

      // si es mayor o menor que cero retorno el valor formateado como numero
      amount = '' + amount.toFixed(decimals);

      var amount_parts = amount.split('.'),
          regexp = /(\d+)(\d{3})/;

      while (regexp.test(amount_parts[0]))
          amount_parts[0] = amount_parts[0].replace(regexp, '$1' + '.' + '$2');

      return amount_parts.join('.');
    }
    /*
    const hhmmss = (secs) => {
      var minutes = Math.floor(secs / 60);
      secs = secs%60;
      var hours = Math.floor(minutes/60)
      minutes = minutes%60;
      return pad(hours)+":"+pad(minutes)+":"+pad(secs);
    }

    const pad = (num) => {
      return ("0"+num).slice(-2);
    }

    const timer = (sessionSeconds) => {
      this.timerInterval = setInterval(() => {
        $('#sessionTime').text(hhmmss(sessionSeconds))
        sessionSeconds -= 1
      }, 1000);
    }
  */

    const ajax = ({type, url, data}) => {
        
        return new Promise((resolve, reject)=>{
            let options = {
                url
            };
            if(!type){
                options.type = 'GET';
            } else {
                options.type = type;
            }

            if(data) options.data = data;

            $.ajax(options)
            .done((result) => {
                resolve(result);
            })
            .fail(() => {
                reject({error: 'ERROR IN --> '+url+' <--'});
            });
        });
    };

    const createLog = ({form, desc, extra, type}) => {
        //console.log(desc,form,String(extra))
        return new Promise(resolve=>{
            ajax({ 
                url:'/api/log',
                type: 'POST', 
                data: {description: desc, form: form, extra: String(extra), type:type} 
            }).then(data=>{
                resolve(data);
            })
        })
        
    }

    moment.locale('es');
</script>
{{#block "js"}}
{{/block}}
</body>
</html>
